@media screen and (max-width: 768px) {
    header {
        padding-top: 10px;
    }
    nav {
        display: none;
    }
    .container1 {
        width: 90%;
    }
    .hero-section{
        height: 100svh;
        background-image: url(../assets/images/artWorkMobile.webp);
    }
    .hero-content {
        width: 90%;
        padding-top: 37vh;
    }
    .column-1 {
        width: 100%;
        overflow: hidden;
    }
    .column-1 p:nth-child(1) {
        font-weight: 700;
    }
    .column-1 h1:nth-child(2) {
        line-height: 90px;
        margin: .3em 0 .1em 0;
        font-size: 65px;
        letter-spacing: 8px;
    }
    .column-1 p:nth-child(3) {
        font-weight: 700;
    }
    .column-2 {
        display: none;
    }
    .btn-cta-mywork {
        width: 100%;
    }

/* ABOUT ME SECTION */

    .aboutMe-section {
        height: 200vh;
    }

    .content-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: 100%;
        width: 90%;    
    }

    .aboutMe-text-container {
        grid-row: 1;
        grid-column: none;
        height: 70svh;
    }

    .aboutMe-photo-container {
        grid-row: 2;
        grid-column: none;
        height: 80%;
    }

    .aboutMe-photo-container img {
        width: 100%;
    }
    .photo-name {
        width: 100%;
        bottom: 100px;
        right: 100px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .container1 {
        width: 90%;
    }
    
    .hero-section{
        height: 100svh;
        background-image: url(../assets/images/artWorkMobile.webp);
    }

    .hero-content {
        width: 90%;
        padding-top: 37vh;
    }
}
