@media screen and (max-width: 768px) {
    p, body {
        line-height: normal;
    }
    .hero-section{
        height: 110svh;
        background-image: url(../assets/images/artWorkMobile.webp);
        overflow: hidden;
    }
    .hero-section-container {
        display: flex;
        max-width: 100%;
        max-height: 100%;
        height: 100%;
        width: 100%;
        bottom: 20%;
        overflow: hidden;
    }
    header {
        top: 0px;
        right: 0px;
        width: 90%;
    }
    .container1 {
        width: 100%;
    }
    .photographer-nav-name {
        font-size: 0.875rem;
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 0%;
    }
    nav a {
        text-decoration: none;
        color: var(--text-color);
        margin-left: 20px;
    }
    
    .hero-content-container {
        width: 90%;
    }
    .hero-content {
        justify-content: center;
        width: 100%;
        margin-bottom: 10svh;
    }
    .column-1 {
        overflow: hidden;
    }
    .column-1 p {
        font-size: 0.875rem;
        font-weight: 100;
    }
    .column-1 p:nth-child(1) {
        font-weight: 700;
    }
    .column-1 h1:nth-child(2) {
        font-size: 2.8rem;
        line-height: 1.1;
        letter-spacing: 3px;
        margin: 0.2em 0;
    }   
    .column-1 p:nth-child(3) {
        font-weight: 700;
        margin-bottom: 0%;
    }
    .column-2 {
        display: none;
    }
    .btn-cta-mywork {
        width: 60%;
    }

/* GALLERY SECTION */

    .title-container {
        margin-top: 3%;
    }
    .slider {
        width: auto;
        height: auto;
    }

/* ABOUT ME SECTION */

    /* .aboutMe-section {
        height: 200vh;
    }

    .content-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: 100%;
        width: 90%;    
    }

    .aboutMe-text-container {
        grid-row: 1;
        grid-column: none;
        height: 70svh;
    }

    .aboutMe-photo-container {
        grid-row: 2;
        grid-column: none;
        height: 80%;
    }

    .aboutMe-photo-container figure {
        width: 90%;
    }

    .aboutMe-photo-container img {
        width: 100%;
    }
    .photo-name {
        width: 100%;
        bottom: 60px;
        right: 0;
        padding: 10%;
    } */

/* CONTACT ME SECTION */

    .form-contact-container {
        width: 90%;
    }
    .form-contact {
        width: 90%;
    }
    .form-contact h5 {
        margin-bottom: 3rem;
    }
}
@media (max-width: 1024px) {

    /* GALLERY SECTION */

    .gallery-section {
        height: 110svh;
        align-items: center;
    }

    .gallery-wrapper-section {
        display: flex;
        align-items: center;
        width: 90%;
    }

    .title-container h2 {
        font-size: medium;
    }    

    .title-container h3 {
        font-size: larger;
    }

    .slider {
        aspect-ratio: 2/3;
        width: auto;
        height: auto;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        justify-self: center;
        gap: 0;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none; /* Firefox */
    }

    .slider::-webkit-scrollbar {
        display: none;
    }

    .slider img {
        flex: none;
        height: auto;
        width: 100%;
        left: 0;
        position: sticky;
        border-radius: 5px;
        scroll-snap-align: center;
    }

    .slider img:hover {
        width: 100%;
    }

/* CONTACT ME SECTION */

    .contactMe-title {
        margin-top: 100px;
    }
    .btn-primary {
        margin-bottom: 100px;
    }
}
@media screen and (max-width: 480px) { 
    nav {
        display: none;
    }
    .btn-cta-mywork {
        width: 100%;
    }
}
@media (min-width: 769px) and (max-width: 1024px) { 
    header {
        width: 90%;
    }
    .hero-content-container {
        width: 90%;
    }
    .column-1 h1:nth-child(2) {
        font-size: 4rem;
    }  
    
/* GALLERY SECTION*/

    .gallery-wrapper-section {
        width: 70%; 
        margin-bottom: 5%;
        align-items: center;
    }

/* ABOUT ME SECTION*/

    .aboutMe-section {
        height: 90svh;
    }

    .content-wrapper {
        width: 90%;    
    }    

    .aboutMe-text-container {
        height: 70%;
    }

    .aboutMe-photo-container {
        height: 70%;
        align-items: start;
        justify-content: end;
    }

    .aboutMe-photo-container figure {
        width: 90%;
     
    }

    .aboutMe-photo-container img {
        width: 100%;
        max-height: 100%;
        height: auto;
        margin-top: 2em;
    }
    .photo-name {
        width: auto;
        bottom: 305px;
        right: 18px;
    }    

/* CONTACT ME SECTION */
    .form-contact-container {
        width: 90%;
    }
    .form-contact {
        width: 60%;
    }
    .form-contact h5 {
        margin-bottom: 3rem;
    }
    .form-contact h5 {
    margin-bottom: .5rem !important; 
    }
}


@media screen and (max-width: 900px) {
  .content-wrapper {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .aboutMe-text-container {
    max-width: 100%;
  }

  .aboutMe-photo-container {
    margin-top: 2rem;
  }

  .aboutMe-text-container h2 {
    font-size: 2rem;
  }

  .aboutMe-text-container p {
    font-size: 1rem;
    line-height: 1.6rem;
  }
}