@media screen and (max-width: 768px) {
    p, body {
        line-height: normal;
    }
    .hero-section{
        height: 110svh;
        background-image: url(../assets/images/artWorkMobile.webp);
        overflow: hidden;
    }
    .hero-section-container {
        display: flex;
        max-width: 100%;
        max-height: 100%;
        height: 100%;
        width: 100%;
        bottom: 20%;
        overflow: hidden;
    }
    header {
        top: 0px;
        right: 0px;
        width: 90%;
    }
    .container1 {
        width: 100%;
    }
    .photographer-nav-name {
        font-size: 0.875rem;
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 0%;
    }
    nav a {
        text-decoration: none;
        color: var(--text-color);
        margin-left: 20px;
    }
    
    .hero-content-container {
        width: 90%;
    }
    .hero-content {
        justify-content: center;
        width: 100%;
        margin-bottom: 10svh;
    }
    .column-1 {
        overflow: hidden;
    }
    .column-1 p {
        font-size: 0.875rem;
        font-weight: 100;
    }
    .column-1 p:nth-child(1) {
        font-weight: 700;
    }
    .column-1 h1:nth-child(2) {
        font-size: 2.8rem;
        line-height: 1.1;
        letter-spacing: 3px;
        margin: 0.2em 0;
    }   
    .column-1 p:nth-child(3) {
        font-weight: 700;
        margin-bottom: 0%;
    }
    .column-2 {
        display: none;
    }
    .btn-cta-mywork {
        width: 60%;
    }

/* GALLERY SECTION */

    .title-container {
        margin-top: 3%;
    }
    .slider {
        width: auto;
        height: auto;
    }

/* ABOUT ME SECTION */

    .aboutMe-section {
        height: 200svh;
    }
    .content-wrapper {
        flex-direction: column;
        height: 180svh;
        max-width: 460px;
        text-align: center;
        align-items: center;
    }
    .aboutMe-text-container {
        width: 95%;
        padding: 0%;
    }
    .aboutMe-text-container h2 {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .aboutMe-subtitle {
        font-weight: 200;
    }
    .aboutMe-text-container p {
        font-size: 0.875rem;
        text-align: center;
    }
    .aboutMe-photo-container {
        width: 95%;
        height: 35%;
    }

/* CONTACT ME SECTION */

    .form-contact-container {
        width: 90%;
    }
    .form-contact {
        width: 90%;
    }
    .form-contact h5 {
        margin-bottom: 3rem;
    }
}
@media (max-width: 1024px) {

    /* GALLERY SECTION */

    .gallery-section {
        height: 110svh;
        align-items: center;
    }

    .gallery-wrapper-section {
        display: flex;
        align-items: center;
        width: 90%;
    }

    .title-container h2 {
        font-size: medium;
    }    

    .title-container h3 {
        font-size: larger;
    }

    .slider {
        aspect-ratio: 2/3;
        width: auto;
        height: auto;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        justify-self: center;
        gap: 0;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none; /* Firefox */
    }

    .slider::-webkit-scrollbar {
        display: none;
    }

    .slider img {
        flex: none;
        height: auto;
        width: 100%;
        left: 0;
        position: sticky;
        border-radius: 5px;
        scroll-snap-align: center;
    }

    .slider img:hover {
        width: 100%;
    }

/* CONTACT ME SECTION */

    .contactMe-title {
        margin-top: 100px;
    }
    .btn-primary {
        margin-bottom: 100px;
    }
}
@media screen and (max-width: 480px) { 
    nav {
        display: none;
    }
    .btn-cta-mywork {
        width: 100%;
    }
}
@media (min-width: 769px) and (max-width: 1024px) { 
    header {
        width: 90%;
    }
    .hero-content-container {
        width: 90%;
    }
    .column-1 h1:nth-child(2) {
        font-size: 4rem;
    }  
    
/* GALLERY SECTION*/

    .gallery-wrapper-section {
        width: 70%; 
        margin-bottom: 5%;
        align-items: center;
    }

/* ABOUT ME SECTION*/

    .aboutMe-section {
        height: 120svh;
    }

    .content-wrapper {
        height: 80%;
        width: 95%;
    }

    .aboutMe-text-container {
        padding: 0 1rem;
        width: 60%;
    }
   
    .aboutMe-photo-container {
        width: 40%;

    }

    .aboutMe-photo-container img {
        max-height: 80%;
        height: auto;
    } 

/* CONTACT ME SECTION */
    .form-contact-container {
        width: 90%;
    }
    .form-contact {
        width: 60%;
    }
    .form-contact h5 {
        margin-bottom: 3rem;
    }
    .form-contact h5 {
    margin-bottom: .5rem !important; 
    }
}
@media screen and (max-width: 900px) {
  .content-wrapper {
    text-align: center;
  }

  .aboutMe-text-container {
    max-width: 100%;
  }

  .aboutMe-text-container h2 {
    font-size: 2rem;
  }

  .aboutMe-text-container p {
    font-size: 0.875rem;
    line-height: 1.6rem;
  }
}
@media (min-width: 900px) and (max-width: 1248px) {

/* ABOUT ME SECTION*/
    .aboutMe-section {
        height: 120svh;
    }
}