* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {

/* Text sizes */
  --text-title-large: 4rem;
  --text-title-medium: 2.5rem;
  --text-subtitle: 1.5rem;
  --text-normal: 1rem;
  --text-small: 0.875rem;

/* Palette colors */
  --primary-color: #1A1712;
  --secondary-color: #19120E;
  --tertiary-color: #998B72;
  --quaternary-color: #33312D;
  --text-color: white;
}

p, body {
    font-family: 'DM Serif Text', serif;
    font-size: var(--text-normal);
    line-height: 1.6;
}

.hero-section {
    position: relative;
    background-image: url(../assets/images/artwork.webp);
    width: 100%;
    height: 120vh;
    background-size: cover;
    background-position: center;
}

.hero-section::before {
    content: '';
    position: absolute;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 1;
}

.hero-section-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    z-index: 2;
}

header {
    z-index: 2;
    width: 75%;
    height: 10%;
    overflow: hidden;
    margin: 0 auto;
}

.container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 2;
}

.photographer-nav-name {
    font-family: 'Bebas Neue', sans-serif;
    font-size: var(--text-normal);
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0%;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
    margin-left: 20px;
}

nav a:hover {
    color: var(--tertiary-color);
}

.hero-content-container {
    display: flex;
    align-items: end;
    width: 75%;
    height: 90%;
    z-index: 2;
    margin: 0 auto;
}

.hero-content {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    width: 100%;
    color: var(--text-color);
    z-index: 2;
    margin-bottom: 5%;
}

.column-1 p {
    font-size: var(--text-normal);
    font-weight: 800;
}

.column-1 h1:nth-child(2) {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 90px;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--text-color);
    line-height: 90px;
    margin: .29em 0 .12em 0;
    letter-spacing: 0.1em;

}

.column-2 {
    display: grid;
    grid-template-rows: 10% 10% 10% 10%;
    grid-template-columns: max-content;
    margin-top: 63px;
    justify-content: end;
    gap: 1rem;
}

.column-2 svg {
    width: 100%;
    height: 100%;
    opacity: 70%;
    cursor: pointer;
}

.btn-cta-mywork {
    color: var(--text-color);
    background-color: transparent;
    border: solid white;
    border-width: 1.8px;
    padding: 13px 20px;
    margin-top: 14px;
    font-weight: 700;
    border-radius: 0;
    background-clip: border-box;
    text-transform: uppercase;
    width: 165px;
    font-size: var(--text-small);
}

.btn-cta-mywork:hover {
    color: black;
    background-color: white;

}


/* GALLERY SECTION */

.gallery-section {
  background-color: var(--quaternary-color);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  overflow: hidden;
}

.gallery-wrapper-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 75%;
  align-items: end;
}

.title-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: end;
    align-items: center;
    margin-bottom: 3%;
    margin-top: 7%;
}

.title-container h2 {
    color: var(--text-color);
}

.title-container h3 {
    color: var(--tertiary-color);
    font-size: 3em;
}

.slider {
  display: flex;
  width: 100%;
  height: 100vh;
  gap: 10px;
  margin-bottom: 5%;
}

.slider img {
  flex: 1;
  min-width: 0;
  height: 100%;
  object-fit: cover;
  transition: flex 0.5s ease-in-out;
  cursor: pointer;
  border-radius: 10px;
}

.slider img:hover {
  flex: 5;
}

/* ABOUT ME SECTION */

.aboutMe-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
}

.content-wrapper {
  display: flex;
  width: 100%;
  height: 80%;
  max-width: 1400px;
}

/* TEXT SIDE - LEFT */
.aboutMe-text-container {
  width: 50%;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y:hidden
}

.aboutMe-text-container h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: white;
}

.aboutMe-subtitle {
    color: var(--tertiary-color) !important;
    font-weight: 500;
}
.aboutMe-text-container p {
  font-size: var(--text-normal);
  line-height: 1.7;
  color: white;
}
.aboutMe-text-container article p:nth-child(3) {
    color: var(--tertiary-color);
}
.aboutMe-photo-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutMe-photo-container figure {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.aboutMe-photo-container img {
  height: 100%;
  max-height: 100%;
  width: auto;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.photo-name {
  position: absolute;
  bottom: 0%;
  width: 100%;
  margin-top: 1rem;
  font-size: 1rem;
  font-style: italic;
  color: #666;
  text-align: center;
  color: var(--tertiary-color);
}

/*ContactMe*/

.contactMe-section{
    display: grid;
    justify-items: center;
    justify-self: center;
    background-image: url(../assets/images/contactMeImg.webp);
    /* height: 100vh; */
    color: white;
    width: 100%;
    position: relative;
}
.contactMe-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}
.form-contact-container {
    display: grid;
    justify-items: center;
    justify-self: center;
	width: 75%;
    z-index: 2;
}
.form-contact {
    width: 40%;
}
.contactMe-title {
	margin-top: 80px;
}
.form-contact h5 {
    margin-bottom: 1rem !important;
}
#user-message, #user-email, #user-name-input {
	position: sticky;
	left: 1.25rem;
	border: 2px solid white;
    top: 0;
    color: var(--tertiary-color);
}
#user-message {
	height: 8rem;
    overflow-wrap: break-word;
	word-break: break-word;
}
.form-label {
    display: flex;
    justify-content: center;
    background-color: var(--tertiary-color);
	position: relative;
    z-index: 2;
    left: .7rem;
	padding: 0.1rem;
    border-radius: 10px;
    width: 5rem;
    justify-content: center;
    margin-bottom: 1rem !important;
}
.form-control {
	margin-top: -23px;
    background-color: transparent !important;
}
button.btn-primary {
    background-color: transparent;
    color: var(--tertiary-color);
    border: solid 2px var(--tertiary-color);
}
button.btn-primary:hover {
    background-color: var(--tertiary-color);
    border-color: var(--tertiary-color);
}
button.btn-primary:focus,
button.btn-primary:active {
    background-color: var(--tertiary-color) !important;
    color: var(--text-color) !important;
    border-color: var(--tertiary-color) !important;
    outline: none; 
    box-shadow: none; 
}
footer{
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
	background-color: var(--primary-color);
	height: 65px;
}
footer p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
	margin: 0%;
	color: var(--text-color);
    text-align: center;
}
.developer-contact {
    text-decoration: none;
    color: var(--text-color);
}
.developer-contact:hover {
    color: #4cc8c8;
}